body{
    background-color: #9b59b6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .header{
    background-color: #f39c12;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 5px 0px 0px #000000;
   }
   .timer{
    float: right;
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    color: black;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px #000000;
}
.workout-container{
    background-color: #1abc9c;
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 0px 0px #000000;
}
.workout-container input[type="text"], .workout-container input[type="number"]{
    padding: 10px;
    margin: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.workout-container button{
    padding: 10px 20px;
    background-color: #f39c12;
    border: none;
    color: black;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px #000000;
}
.footer button{
    background-color: #f39c12;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    border: none;
    box-shadow: 5px 5px 0px 0px #000000;
}
.footer {
    background-color: #f39c12;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 5px 0px 0px #000000;
}